[submodule "devsupport"]
	path = devsupport
	# url = ssh://giles.bugslayer.de/srv/git/projects/devsupport
	url = https://github.com/meichholz/devsupport.git
[submodule "googletest"]
	path = googletest
	url = ssh://giles.bugslayer.de/srv/git/support/googletest
